.topic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f9fc;
    padding:2px;
    border-radius:24px;
    margin-top:30px
}


.topic-header-left{
   display : flex;
   align-items:center;
   gap:16px;
}

.topic-icon {
    width: 55px;
    height: 55px;
    border-radius: 14px;
    background: linear-gradient(135deg, #7b2ff7, #f107a3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
}

.topic-header h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.topic-header p {
    margin: 4px 0 0;
    font-size: 14px;
    color: #6c757d;
}


/* Button */

.btn-create {
    background: linear-gradient(135deg, #8e2de2, #ff0080);
    color: white;
    padding: 10px 22px;
    border-radius: 12px;
    text-decoration: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
}

    .btn-create:hover {
        transform: translateY(-3px);
        color: white;
    }

    .btn-create span {
        font-size: 18px;
        font-weight: bold;
    }